.fight-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.btn {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.winner-field {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.winner-header {
  color: black;
  margin-bottom: 1.6rem;
}

.winner-restart-button {
  text-transform: uppercase;
}
