.loading-screen {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #aaa;
  z-index: 11;
  transition: all 0.3s ease;
}

.loading-screen.completed {
  opacity: 0;
  pointer-events: none;
}

.loading-screen h1 {
  font-weight: bold;
}
