@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #aaa;
  font-family: "Montserrat", sans-serif;
}
